:root {
    --main-transition: 0.3s;
}
html {
    background-color: black;
    color: white;

}
ul {
    list-style: none;
}
body {
    overflow: scroll;
}
/* Header style begins */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    transition: var(--main-transition);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    border-radius: 6px;
    height: 40px;
    width: 40px;
}
ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: var(--main-transition);
    display: inline-block; /* The default is inline, so it won't work with transform: translateY */
}
li:hover a {
    transform: translateY(-10px);
}
/* main style begins */
.main h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 50px;
}
.main p {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}